*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 250vh;
    background: linear-gradient( rgb(143, 201, 224) ,white);
}
.navbar{
    height: 40px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
}
.welcome{
    display: flex;
    justify-content: space-between;
     align-items: center;
}
.cat{
    margin-left: 170px;
    display: flex;
}
.to{
    color: white;
    font-style: oblique;
    text-align: center;
}
.search{
    height: 0px;
    width: 10px;
    border: none;
    text-decoration: none;
}
.lang{
color: white;
}
.langg{
    border: none;
    background-color: black;
}
a{
    text-decoration: none;
}
.log{
    margin-left: 30px;
}
.create{
    margin-right: 30px;
}
.or{
    color: white;
}
.secondnav{
    width: 100%;
    height: 90px;
    /* border: 1px solid black; */
}
.princess{
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 40px; */
}
.fabric{
    margin-right: 60px;
    font-size: 17px;
    font-style: oblique;
    display: flex;
    margin-bottom: 20px;
}
.goody{
    margin-top: 20px;
    margin-left: 10px;
}
.store{
    position: absolute;
    bottom: 520px;
    right: 685px;
    color: orangered;
    font-size: 25px;
    font-style:oblique;
}
.pics{
    width: 65px;
    height: 90px;
    /* margin-bottom: 50px; */
    border-radius: 50%;
    /* position: absolute;
    bottom: 520px;
    right: 755px; */

}
.products{
    margin-top: 40px;
    word-spacing: 5px;
    margin-right: 25px;
    font-size: 17px;
}
.thirdnav{
    width: 100%;
    height: 30px;
    background: linear-gradient( orangered, black);
}
.read{
    color: black;
    padding-right: 10px;
}
.rate{
    font-size: small;
}
.business{
width: 100%;
height: 30px;
/* border: 2px solid blue; */
display: flex;
align-items: center;
justify-content: space-between;
color: white;
}
.main{
    height: 80px;
    width: 100%;
    /* border: 1px solid black; */
}
.dera{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    font-style: oblique;
}
.wax{
    font-size: 20px;
    padding-left: 10px;
}
.trendy{
    font: 10px;
    padding-left: 10px;
}
.best{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.filter{
    display: flex;
}
.sort{
    display: flex;
}
#opt{
    border: none;
}
.footer{
    height: 40px;
    width: 100%;
    background-color:black;
    justify-content: center;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 20px;
}
.info{
    color: white;
}
